.filter {
  padding: 20px 20px 18px;
  margin: 0 0 40px;
  width: fit-content;
  background: #fff;
  border-radius: 6px;

  .list {
    display: flex;
    margin: 0 0 0 -20px;
  }

  .listitem {
    padding: 0 0 0 20px;
    list-style: none;
  }

  .checkboxLabel {
    padding: 0 0 0 10px;
  }
}

.col {
  margin: 0 0 40px;
}

.label {
  padding: 5px 10px 3px;
  margin: 0 0 10px;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #3e3e3e;
  background: #b8e4ff;
  border-radius: 6px;
}

.textarea {
  padding: 10px;
  width: 100%;
  min-height: 300px;
  resize: vertical;
}

.input {
  padding: 14px 20px;
  width: 100%;
  min-height: 56px;
  font-size: 14px;
  background: #fff;
  border-radius: 6px;
}

.download {
  position: relative;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  min-height: 56px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #0894f6;
  border-radius: 6px;
  border: 0;
  transition: background-color .3s ease-out;

  &:disabled {
    color: #e7e7e7;
    background: #c9c6c6;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
    transition: transform .3s linear, opacity 1s linear;
    transform: scale(10, 10);
    pointer-events: none;
  }

  &:active::after {
    transition: 0s;
    transform: scale(0, 0);
    opacity: 0.3;
  }
}

@media screen and (min-width: 680px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .col {
    margin: 0;
  }
}
